@model List<ShoppingCartViewModel>

<body>


    <div class="clearfix cart-website absolute" onclick="showCartBoxDetail()">
        <img alt="Icon Cart" src="/client-side-1/img/icon_cart.png" />
        @if (Model.Count > 0)
        {
            <p class="count-total-shopping absolute">@Model.Count</p>
        }
        else
        {
            <p class="count-total-shopping absolute">0</p>
        }


    </div>
    <div class="cart-detail-header border">
        <div class="relative">
            @foreach (var item in Model)
            {
                var url = "/" + item.Product.SeoAlias + "-p." + item.Product.Id + ".html";
                <div class="product-cart-son clearfix">
                    <div class="image-product-cart float-left center-vertical-image ">
                        <a href="@url"><img src="@item.Product.Image" alt="@item.Product.Name" /></a>
                    </div>
                    <div class="info-product-cart float-left">
                        <p class="title-product title-hover-black"><a class="animate-default" href="@url">@item.Product.Name</a></p>
                        <p class="clearfix price-product">@item.Product.Price <span class="@item.Quantity">(x1)</span></p>
                    </div>
                </div>

            }
            
        </div>
        <div class="relative border no-border-l no-border-r total-cart-header">
            <p class="bold clear-margin">Subtotal:</p>
            <p class=" clear-margin bold">@Model.Sum(x => x.Quantity * x.Price).ToString("N0") </p>
        </div>
        <div class="relative btn-cart-header">
            <a href="/cart.html" class="uppercase bold animate-default">view cart</a>
            <a href="/checkout.html" class="uppercase bold button-hover-red animate-default">checkout</a>
        </div>
    </div>
    <script type="text/javascript" src="~/client-side/js/jquery.min.js"></script>

    <!-- bootstrap js -->
    <script type="text/javascript" src="~/client-side/js/bootstrap.min.js"></script>

    <!-- owl.carousel.min js -->
    <script type="text/javascript" src="~/client-side/js/owl.carousel.min.js"></script>

    <!-- jquery.mobile-menu js -->
    <script type="text/javascript" src="~/client-side/js/mobile-menu.js"></script>

    <!--jquery-ui.min js -->
    <script type="text/javascript" src="~/client-side/js/jquery-ui.js"></script>

    <!-- main js -->
    <script type="text/javascript" src="~/client-side/js/main.js"></script>

    <!-- countdown js -->
    <script type="text/javascript" src="~/client-side/js/countdown.js"></script>

    <!-- Slider Js -->
    <script type="text/javascript" src="~/client-side/js/revolution-slider.js"></script>
    <script src="~/lib/notifyjs/dist/notify.js"></script>
    <script src="~/lib/notifyjs/dist/styles/metro/notify-metro.js"></script>
    <script src="~/lib/mustache/mustache.js"></script>
    
    <script src="~/client-app/shared/tedu.js"></script>
    <script src="~/client-app/controllers/base/index.js"></script>
</body>