@model List<ShoppingCartViewModel>



<div id="headerCart">
    <div class="clearfix cart-website absolute" onclick="showCartBoxDetail()">
        <img alt="Icon Cart" src="/client-side-1/img/icon_cart.png" />
        @if (Model.Count > 0)
        {
            <p class="count-total-shopping absolute">@Model.Count</p>
        }
        else
        {
            <p class="count-total-shopping absolute">0</p>
        }


    </div>
    <div class="cart-detail-header border">
        <div class="relative">
            @foreach (var item in Model)
            {
                var url = "/" + item.Product.SeoAlias + "-p." + item.Product.Id + ".html";
                <div class="product-cart-son clearfix">
                    <div class="image-product-cart float-left center-vertical-image ">
                        <a href="@url"><img src="@item.Product.Image" alt="@item.Product.Name" /></a>
                    </div>
                    <div class="info-product-cart float-left">
                        <p class="title-product title-hover-black"><a class="animate-default" href="@url">@item.Product.Name</a></p>
                        <p class="clearfix price-product">@item.Price.ToString("N0")đ <span class="">(x @item.Quantity)</span></p>
                    </div>
                </div>

            }

        </div>
        <div class="relative border no-border-l no-border-r total-cart-header">
            <p class="bold clear-margin">Tổng cộng:</p>
            <p class=" clear-margin bold">@Model.Sum(x => x.Quantity * x.Price).ToString("N0")đ </p>
        </div>
        <div class="relative btn-cart-header">
            <a href="/cart.html" class="uppercase bold animate-default">Xem giỏ hàng</a>
            <a href="/checkout.html" class="uppercase bold button-hover-red animate-default">Thanh toán</a>
        </div>
    </div>
</div>

