@model BillViewModel
<h1>Đơn hàng của bạn từ QDMarketPlace</h1>
<table>
    <tr>
        <td>Tên khách hàng</td>
        <td>@Model.CustomerName</td>
    </tr>
    <tr>
        <td>Địa chỉ email</td>
        <td>@Model.CustomerAddress</td>
    </tr>
    <tr>
        <td>Điện thoại</td>
        <td>@Model.CustomerMobile</td>
    </tr>
    <tr>
        <td>Ngày mua</td>
        <td>@Model.DateCreated.ToString("dd/MM/yyyy hh:mm")</td>
    </tr>
    <tr>
        <td>Chi tiết</td>
        <td>
            <table>
                <thead>
                    <tr>
                        <th>Sản phẩm</th>
                        <th>Số lượng</th>
                        <th>Key</th>
                        <th>Giá</th>
                        <th>Tổng cộng</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.BillDetails)
                    {
                        <tr>
                            <td>@item.Product.Name</td>
                            <td style="text-align:center">@item.Quantity</td>
                            <td style="text-align:center">@item.Key</td>
                            <td style="text-align:center">@item.Price.ToString("N0")</td>
                            <td style="text-align:center">@((item.Quantity * item.Price).ToString("N0"))</td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5">
                            Tổng cộng: @Model.BillDetails.Sum(x => x.Quantity * x.Price).ToString("N0")đ
                        </td>
                    </tr>
                </tfoot>
            </table>
        </td>
    </tr>
</table>