@model CheckoutViewModel
@{
    ViewData["Title"] = "Checkout";
}
@section Scripts {
    <recaptcha-script validation-message-element-id="recaptchaErrorMessage" />

    @await Html.PartialAsync("_ValidationScriptsPartial")
}
<!-- Breadcrumbs -->

<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li class="home"> <a title="Go to Home Page" href="/">Home</a><span>&raquo;</span></li>
                    <li><strong>Thanh toán</strong></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->
<!-- Main Container -->
<section class="main-container col2-right-layout">
    <div class="main container">
        <div class="row">
            <div class="col-main col-sm-12 col-xs-12">
                <div class="page-title">
                    <h2>Thanh toán</h2>
                </div>
                <div class="page-content checkout-page">
                    @if (ViewData["Success"] != null)
                    {
                        if ((bool)ViewData["Success"] == true)
                        {
                            <div class="alert alert-success">
                                Cảm ơn bạn đã đặt hàng. Chúng tôi sẽ sớm xác nhận đơn hàng của bạn.
                            </div>

                        }
                        else
                        {
                            <div class="alert alert-danger">
                                Có lỗi trong quá trình đặt hàng. Liên hệ với người quản lý để khắc phục.
                            </div>

                        }


                    }
                    else
                    {

                <form action="/checkout.html" method="post">
                    @Html.AntiForgeryToken()
                    @if (User.Identity.IsAuthenticated)
                    {
                        <h4 class="checkout-sep">1. Phương thức thanh toán</h4>
                        <h5>Thanh toán với tư cách là thành viên</h5>
                    }
                    else
                    {
                        <h4 class="checkout-sep">1. Phương thức thanh toán</h4>
                        <div class="box-border">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h5>Thanh toán với tư cách là khách hoặc thành viên</h5>
                                    <p style="color:black">Đăng ký thành viên để có nhiều ưu đãi hơn:</p>
                                    <br>
                                    <h4>Đăng ký và tiết kiệm thời gian !</h4>
                                    <p style="color:black">Đăng ký thành viên để có nhiều ưu đãi hơn:</p>
                                    <p style="color:black"><i class="fa fa-check-circle text-primary"></i> Thanh toán nhanh chóng, dễ hàng</p>
                                    <p style="color:black"><i class="fa fa-check-circle text-primary"></i> Lưu trữ danh sách sản phẩm yêu thích</p>
                                    <button class="button"><i class="fa fa-angle-double-right"></i>&nbsp; <a style="color:white" href="/register.html">Đăng ký</a></button>
                                </div>
                                <div class="col-sm-6">
                                    <h5>Đăng nhập</h5>
                                    <p>Bạn đã có tài khoản? Hãy bấm vào đây:</p>
                                    <button class="button"><i class="icon-login"></i>&nbsp; <a style="color:white" href="/login.html">Đăng nhập</a></button>
                                </div>
                            </div>
                        </div>
                    }


                    <h4 class="checkout-sep">2. Thông tin người nhận hàng</h4>
                    <div class="box-border">
                        <ul>
                            <li class="row">
                                <div class="col-sm-6">
                                    <label class="required">Tên đầy đủ</label>
                                    <input class="input form-control" type="text" asp-for="CustomerName">
                                </div>
                                <!--/ [col] -->
                                <div class="col-sm-6">
                                    <label class="required">Điện thoại</label>
                                    <input class="input form-control" type="text" asp-for="CustomerMobile">
                                </div>
                            </li>
                            <!--/ .row -->
                            <!--/ .row -->

                            <li class="row">
                                <div class="col-xs-12">
                                    <label class="required">Địa chỉ</label>
                                    <input class="input form-control" type="text" asp-for="CustomerAddress">
                                </div>
                                <!--/ [col] -->

                            </li>
                            <!--/ .row -->


                            <li class="row">
                                <div class="col-sm-12">
                                    <label class="required">Lời nhắn</label>
                                    <input class="input form-control" type="text" asp-for="CustomerMessage">
                                </div>
                                <!--/ [col] -->

                            </li>
                            <!--/ .row -->


                        </ul>
                    </div>
                    <h4 class="checkout-sep">3. Thông tin thanh toán</h4>
                    <div class="box-border">
                        <ul>
                            @for (int i = 0; i < Model.PaymentMethods.Count; i++)
                            {
                                <li>
                                    <label asp-for="@Model.PaymentMethods[i].Value">
                                        <input type="radio" name="paymentMethod" asp-for="PaymentMethod" value="@Model.PaymentMethods[i].Value">
                                        @Model.PaymentMethods[i].Name
                                    </label>
                                </li>
                            }
                        </ul>
                    </div>
                    <h4 class="checkout-sep last">4. Xem lại đơn hàng</h4>
                    <div class="box-border">
                        <div class="table-responsive">
                            <table class="table table-bordered cart_summary">
                                <thead>
                                    <tr>
                                        <th class="cart_product">Sản phẩm</th>
                                        <th>Mô tả</th>
                                        <th>Đơn giá</th>
                                        <th>Số lượng</th>
                                        <th>Tổng cộng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Carts)
                                    {
                                        <tr>
                                            <td class="cart_product"><a href="/@item.Product.SeoAlias-p.@(item.Product.Id).html"><img src="@item.Product.Image" alt="@item.Product.Name"></a></td>
                                            <td class="cart_description">
                                                <p class="product-name"><a href="/@item.Product.SeoAlias-p.@(item.Product.Id).html">@item.Product.Name </a></p>
                                            </td>
                                            <td class="price"><span>@item.Price.ToString("N0")₫ </span></td>
                                            <td class="qty">@item.Quantity</td>
                                            <td class="price"><span>@((item.Price * item.Quantity).ToString("N0"))₫ </span></td>
                                        </tr>

                                    }


                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="3"><strong>Total</strong></td>
                                        <td colspan="2"><strong>@Model.Carts.Sum(x => x.Quantity * x.Price).ToString("N0")₫ </strong></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <recaptcha /><span class="text-danger" id="recaptchaErrorMessage"></span>
                        <button type="button" class="button" onclick="window.location.href='/cart.html'"><span>Quay lại giỏ hàng</span></button>

                        <!--<button type="submit" id="btnSave" class="button pull-right"><span>Thanh toán</span></button>-->
                        <button type="submit" class="button pull-right" asp-action="PaypalCheckout"><span>Thanh toán</span></button>
                    </div>
                </form>
                    }

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Main Container End -->
