@using Microsoft.AspNetCore.Localization
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic page needs -->
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewData["Title"]</title>
    <meta name="description" content="@ViewData["MetaKeyword"]">
    <meta name="keywords" content="@ViewData["MetaDescription"]" />
    <meta property="fb:app_id" content="794671461248018" />

    <!--Icon title-->
    

    <!-- Mobile specific metas  -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        #fb-chat-app {
            padding-right: 50px;
            padding-bottom: 25px;
            position: fixed;
            right: 0;
            bottom: 0;
            opacity: 0.8;
        }

            #fb-chat-app:hover {
                opacity: 1;
            }
    </style>

    <!-- Favicons Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link href="~/lib/notifyjs/dist/styles/metro/notify-metro.css" rel="stylesheet" />
    <!-- CSS Style -->
    <link rel="stylesheet" href="~/client-side/style.css">
    <link href="~/lib/HotPhoneRing.css" rel="stylesheet" />
</head>

<body class="@ViewData["BodyClass"]">
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v11.0&appId=794671461248018&autoLogAppEvents=1" nonce="azoCq0xJ"></script>

    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- mobile menu -->
    <!-- end mobile menu -->
    <div id="page">

        <!-- Header -->
        <partial name="_Header.cshtml" />
        <!-- end header -->


        @RenderBody()
        <!-- Footer -->
        <partial name="_Footer.cshtml" />
        <!-- End Footer -->
    </div>

    <!-- JS -->
    <!-- jquery js -->
    <script type="text/javascript" src="~/client-side/js/jquery.min.js"></script>

    <!-- bootstrap js -->
    <script type="text/javascript" src="~/client-side/js/bootstrap.min.js"></script>

    <!-- owl.carousel.min js -->
    <script type="text/javascript" src="~/client-side/js/owl.carousel.min.js"></script>

    <!-- jquery.mobile-menu js -->
    @*<script type="text/javascript" src="~/client-side/js/mobile-menu.js"></script>*@

    <!--jquery-ui.min js -->
    <script type="text/javascript" src="~/client-side/js/jquery-ui.js"></script>

    <!-- main js -->
    @*<script type="text/javascript" src="~/client-side/js/main.js"></script>*@
    <script src="~/client-side/js/main.js"></script>
    <script src="~/client-side/js/mobile-menu.js"></script>
    <!-- countdown js -->
    <script type="text/javascript" src="~/client-side/js/countdown.js"></script>

    <!-- Slider Js -->
    <script type="text/javascript" src="~/client-side/js/revolution-slider.js"></script>
    <script src="~/lib/notifyjs/dist/notify.js"></script>
    <script src="~/lib/notifyjs/dist/styles/metro/notify-metro.js"></script>
    <script src="~/lib/mustache/mustache.js"></script>
    <script src="~/client-app/shared/localize/resources.@(requestCulture.RequestCulture.Culture.Name).js"></script>
    <script src="~/client-app/shared/tedu.js"></script>
    <script src="~/client-app/controllers/base/index.js"></script>

    <script>
        var baseObj = new BaseController();
        baseObj.initialize();
    </script>
    @RenderSection("Scripts", required: false)
    <!-- Load Facebook SDK for JavaScript -->

</body>
</html>
